lxml
langchain
ipykernel
python-dotenv
langchain_community
langchain-text-splitters
langchain_huggingface
langchain_chroma
langchain_groq
langchain_core
chromadb
streamlit
python-multipart
sqlite3==3.35.0
